// Styling for the contact section
.floating-label-form-group {
  position: relative;
  border-bottom: 1px solid $gray-200;
  input,
  textarea {
    font-size: 1.5em;
    position: relative;
    z-index: 1;
    padding-right: 0;
    padding-left: 0;
    resize: none;
    border: none;
    border-radius: 0;
    background: none;
    box-shadow: none !important;
  }
  label {
    font-size: 0.85em;
    line-height: 1.764705882em;
    position: relative;
    z-index: 0;
    top: 2em;
    display: block;
    margin: 0;
    -webkit-transition: top 0.3s ease, opacity 0.3s ease;
    -moz-transition: top 0.3s ease, opacity 0.3s ease;
    -ms-transition: top 0.3s ease, opacity 0.3s ease;
    transition: top 0.3s ease, opacity 0.3s ease;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0;
  }
  &:not(:first-child) {
    padding-left: 14px;
    border-left: 1px solid $gray-200;
  }
}

.floating-label-form-group-with-value {
  label {
    top: 0;
    opacity: 1;
  }
}

.floating-label-form-group-with-focus {
  label {
    color: $primary;
  }
}
form .row:first-child .floating-label-form-group {
  border-top: 1px solid $gray-200;
}

.speechBubble{
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 150px;
  margin: 70px auto 76px;
  border: 5px solid $white;
  background: $white;
  top: 0px;
  opacity: 1;
  span{
    padding: 30px 0;
    display: block;
    font-size: 22px;
    text-align: center;
    color: $primary;
    line-height: normal;
  }
  strong{
    font-size: 30px;
  }
  &:after{
    content: "";
    position: absolute;
    top: 100%;
    left: 63px;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 41px solid $white;
    transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
  }
}

.info-contact{
  .name-contact{
    font-size: 28px;
    font-weight: 700;
    font-family: Montserrat;
    b{
      border-top: 3px solid $white;
    }
  }
  .email{
    text-align: center;
    margin-top: 5px;
    a{ 
      color: $white;
      text-decoration: none;
      font-family: Montserrat;
      font-size: 18px; 
    }
  }
  .sosmed{
    text-align: center;
    margin-top: 25px;
    &:before{
      content: '';
      display: block;
      width: 65px;
      height: 4px;
      background: $white;
      margin: 0 auto 30px;
    }
    ul{
      list-style: none;
      padding:0;
      margin:0;
      li{
        display: inline-block;
        margin-right: 5px;
        &:last-child{
          margin-right: 0;
        }
      }
      a{ 
        color: $white;
        text-decoration: none;
        font-family: Montserrat;
        font-size: 30px;
        display: block;
        border: 3px solid #fff;
        width: 65px;
        height: 65px;
        line-height: 61px;
      }
    }
  }
}